* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.products-container {
    min-height: 100vh;
    background-color: darkslategrey;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    place-items: center;
    gap: 1rem;
    padding: 2rem 5%;
}

.product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: lightgray;
    border-radius: 5px;
    padding: 1rem;
}

.product-information {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
