
.products-main-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 1rem;
    padding: 2rem 5%;
    border-bottom: solid 0.15em var(--main-color);
}

.products-main-container h2 {
    font-size: 3em;
    color: var(--main-color);
}

.products-main-container {
    font-family: Quicksand, sans-serif;
    font-size: 1.25em;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 1rem;
    padding: 2rem 5%;
}

.products-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap:1em;
    padding: 1em;
    margin: 1rem;
    max-width: 10em;
}


.name-of-products h3 {
    font-size: 2.5em;
    color: var(--main-color);
    padding: 1rem 0.5rem;
}

